BirthdayService/Service References/ServiceBD/ServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17298/ServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17298/ServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCF_DoShowData_InputMessage">
    <wsdl:part name="parameters" element="tns:DoShowData" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DoShowData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoShowDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DoAddData_InputMessage">
    <wsdl:part name="parameters" element="tns:DoAddData" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_DoAddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoAddDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCF">
    <wsdl:operation name="DoShowData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/DoShowData" message="tns:IServiceWCF_DoShowData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/DoShowDataResponse" message="tns:IServiceWCF_DoShowData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoAddData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF/DoAddData" message="tns:IServiceWCF_DoAddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF/DoAddDataResponse" message="tns:IServiceWCF_DoAddData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCF" type="tns:IServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoShowData">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/DoShowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoAddData">
      <soap:operation soapAction="http://tempuri.org/IServiceWCF/DoAddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWCF">
    <wsdl:port name="BasicHttpBinding_IServiceWCF" binding="tns:BasicHttpBinding_IServiceWCF">
      <soap:address location="http://localhost:17298/ServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>